#ui-datepicker-div {
    z-index: 100001 !important;
}

.barAdd{
    width: 100%;
}
.btnAdd{
    float: right;
    margin: 10px 0;
}

/*.pagination li{
    padding: 5px 10px;
    background: #dee2e6;
    margin: 0 2px;
}

.pagination li a{
    color: #333a3f;
}

.pagination li.disabled{
    pointer-events: none;
    background: #adb5bd;
}

.pagination li.active {
    background: #f49917;
}

.pagination-bar{
    width: 100%;
    display: flex;
    justify-content: center;
}*/

.main-form{
    margin: 20px 0;
    width: 100%;
    background: #ffffff;
    padding: 20px !important;
}

#blah{
    max-width: 150px;
    margin: 20px;
}

.delete-form{
    display: inline-block;
}

.bookTable thead > tr > th, .bookTable tbody > tr > td{
    text-align: center;
}