a:hover {
    text-decoration: none
}

.header-fixed{
    background-color: #ffffff;
}

.header-login{
    background: #ffffff;
    border-bottom: 2px solid #c8c8c8;
}

.logo{
    margin: 15px 20px;
    display : flex;
    align-items : center;
}

.img-logo{
    max-width: 50px;
    margin: 0 5px;
}

.logo-title{
    color: #ff7609;
    font-weight: bold;
    width: 100px;
    font-size: 14px;
    text-transform: uppercase;
}

.slide{
    position: relative;
    height: 700px;
}

.slide-profile{
    position: relative;
    height: 400px;
}

.bg-login{
    background: url(../../image/background_login.png) no-repeat center;
    background-size: 100% 100%;

    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .3;
    width: 100%;
    height: 100%;
}

.bg-profile{
    background: url(../../image/background_profile.png) no-repeat center;
    background-size: 100% 100%;

    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.img-slide{
    max-width: 100%;
}

.cover{
    height: 50%;
    position: absolute;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.93) 60%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(60%, rgba(255,255,255,0.93)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.93) 60%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.93) 60%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.93) 60%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.93) 60%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.title-slide{
    position: absolute;
    text-align: center;
}

.title-slide span{
    font-size: 50px;
    font-weight: 800;
    color: #ededed;
}

.title-background-login{
    position: absolute;
    text-align: center;
    top: 20px;
}

.title-background-login span{
    font-size: 130px;
    font-weight: 900;
    color: #c8c8c8;
    transform: scale(.4, 1);
    display: inline-block;
    font-family: sans-serif;
    text-transform: uppercase;
}

button.dropdown-toggle{
    background: none;
    color: #000000;
    border: none;
    border-color: transparent;
    font-size: 12px;
}

button.dropdown-toggle:hover, button.dropdown-toggle:focus{
    background-image: none !important;
    background-color: transparent !important;
    color: #000000 !important;
    background-color: transparent !important;
    outline:none !important;
    border: none !important;
    text-decoration: none !important;
    box-shadow: none !important;
    font-size: 12px;
}

button.dropdown-toggle:active {
    outline: none !important;
    border: none !important;
    text-decoration: none !important;
    box-shadow: none !important;
}

button:active, button:focus {
    outline: none !important;
    border: none !important;
    text-decoration: none !important;
    box-shadow: none !important;
}

.dropdown{
    top: 20px;
    display: inline !important;
    margin: 0 10px;
}

.nopadding{
    padding: 0;
}

.btnConnect{
    background: #ff7609;
    border-radius: 20px;
    color: #ffffff;
    font-size: 12px;
    top: 20px;
    display: inline;
    border: none;
    padding: 8px 30px;
}

.title-slide-small{
    position: absolute;
    text-align: center;
    top: 40px;
}

.title-slide-small span{
    font-size: 38px;
    font-weight: 300;
}

.title-background-small{
    /*position: absolute;*/
    text-align: center;
    top: -25px;
}

.title-background-small span{
    font-size: 70px;
    font-weight: 600;
    transform: scale(.6, 1);
    display: inline-block;
    font-family: sans-serif;
    color: #fe760a;
    text-transform: uppercase;
}

.title-background-small-choose{
    /*position: absolute;*/
    text-align: center;
    top: -100px;
}

.title-background-small-choose span{
    font-size: 70px;
    font-weight: 600;
    transform: scale(.6, 1);
    display: inline-block;
    font-family: sans-serif;
    color: #fe760a;
    text-transform: uppercase;
}

.title-background-small-forgot{
    position: absolute;
    text-align: center;
    top: 100px;
}

.title-background-small-forgot span{
    font-size: 70px;
    font-weight: 900;
    transform: scale(.4, 1);
    display: inline-block;
    font-family: sans-serif;
    color: #fe760a;
    text-transform: uppercase;
}

/**/

.title-background-small-forgot{
    /*position: absolute;*/
    text-align: center;
    top: 145px;
}

.title-background-small-forgot span{
    font-size: 70px;
    font-weight: 600;
    transform: scale(.6, 1);
    display: inline-block;
    font-family: sans-serif;
    color: #fe760a;
    text-transform: uppercase;
}

.title-background-small-login{
    /*position: absolute;*/
    text-align: center;
    top: 100px;
}

.title-background-small-login span{
    font-size: 70px;
    font-weight: 600;
    transform: scale(.6, 1);
    display: inline-block;
    font-family: sans-serif;
    color: #fe760a;
    text-transform: uppercase;
}

.title-slide-foot{
    position: absolute;
    text-align: center;
    color: #010101;
    top: 165px;
}

.title-slide-foot span{
    font-size: 23px;
    font-weight: 300;
}

.search_button{
    position: absolute;
    text-align: right;
    top: 60px;
    right: 40px;
}

.edit_button{
    position: absolute;
    text-align: right;
    top: 150px;
    right: 40px;
}

.add_button img{
    max-width: 120px;
}

.logo-footer img{
    max-width: 140px;
}

.logo-footer{
    padding-top: 15px;
    background: #ffffff;
}

.logo-footer .logo-item{
    text-align: center;
}

.background-footer{
    background: url('../../image/footer.png') no-repeat center;
    background-size: 100% 100%;
    padding: 50px 0;
    color: #ffffff;
}

.background-footer-profile{
    padding: 50px 0;
    color: #ffffff;
    background: #151b27;
}

.background-footer-login{
    background: url('../../image/background-footer-login.png') no-repeat center;
    background-size: 100% 100%;
    padding: 30px 0;
    color: #ffffff;
    margin-top: -60px;
    position: relative;
}

.icon-logo-footer{
    max-width: 80px;
    width: 100%;
    padding: 15px 0;
}

.icon-logo-footer-profile{
    max-width: 80px;
    width: 100%;
}

.col-logo-footer{
    /*left: 40px;*/
}

.txt-footer{
    color: #ffffff;
    font-size: 12px;
    font-weight: 100;
    width: 100%;
    padding: 25px 0;
}

.txt-footer-profile{
    color: #ffffff;
    font-size: 12px;
    font-weight: 100;
    width: 100%;
}

.logo-fse{
    max-height: 120px;
    width: 100%;
    max-width: 100px;
}

.logo-fse-profile{
    width: 100%;
}

.col-left-footer{
    margin-top: 40px;
    border-right: 1px solid;
}

.col-right-footer{
    margin-top: 40px;
}

.txt-line-footer{
    font-weight: 100;
    text-align: center;
    top: 10px;
    font-size: 12px;
}

.col-video{
    text-align: right;
    right: 140px;
}

.title-footer{
    color: #a8866d;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    display: inline-block;
}

.title-footer-contain{
    font-size: 12px;
}

.img-background-login{
    opacity: 0.3;
}

.login-form{
    font-family: sans-serif;
    top: 100px;
}

.register-form{
    font-family: sans-serif;
    margin: 0 auto;
}

.login-form input[type="text"]{
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    box-shadow:1px 1px 5px #e9ecef;
    -webkit-box-shadow: 1px 1px 5px #e9ecef;
    -webkit-padding: 3px;
    border: 1px solid #797979;
    height: 35px;
}

.login-form input[type="password"]{
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    box-shadow:1px 1px 5px #e9ecef;
    -webkit-box-shadow: 1px 1px 5px #e9ecef;
    -webkit-padding: 3px;
    border: 1px solid #797979;
    height: 35px;
}

.register-form input[type="text"], .register-form input[type="password"]{
    display: block;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    box-shadow:1px 1px 5px #e9ecef;
    -webkit-box-shadow: 1px 1px 5px #e9ecef;
    -webkit-padding: 3px;
    border: 1px solid #797979;
    height: 35px;
}

.forgot-form{
	top: 100px;
}

.forgot-form input{
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    box-shadow:1px 1px 5px #e9ecef;
    -webkit-box-shadow: 1px 1px 5px #e9ecef;
    -webkit-padding: 3px;
    border: 1px solid #797979;
    height: 35px;
}

.choose-form{
    top: -100px;
    text-align: center;
}

.register-form input{
    width: auto;
    float: right;
    display: inline-block;
    margin: 10px 0;
}

.dropdown-toggle::after {
    display:none;
}

.login-form select{
    float: right;
    height: 30px;
    font-size: 12px;
    margin: 10px 0;
}

.login-form label{
    font-size: 14px;
    font-weight: 500;
    margin: 15px 0;
    width: 100px;
}

.register-form select{
    float: right;
    height: 30px;
    font-size: 12px;
    margin: 10px 0;
}

.register-form label{
    font-size: 13px;
    font-weight: 500;
    margin: 15px 0;
    width: 110px;
}

.forgot-form label{
    font-size: 13px;
    font-weight: 500;
    margin: 15px 70px;
}

.login-form .inlineRow{
    width: 150px;
}

.login-form span.label{
    float: right;
    margin: 10px 10px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 500;
    color: #000000;
}

.register-form .inlineRow{
    width: 75px;
}

.register-form span.label{
    float: right;
    margin: 10px 10px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 500;
    color: #000000;
}

.no-margin{
    margin: 10px 0 !important;
}

.headLine{
    font-size: 13px;
}

.chkbox {
    font-weight: bold;
    width: auto !important;
    margin: 10px !important;
}

.login-form input.chkRegister{
    width: auto;
    float: none;
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 5px;
}

.register-form input.chkRegister{
    width: auto;
    float: none;
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 5px;
}

.register-form .inputField{
    width: 400px;
}

.input-table{
    display: table;
    margin: 0 auto;
    width: 700px;
}

.input-table-choose{
    display: inline-block;
    text-align: left;
    width: auto;
}

.input-table-register{
    display: table;
    margin: 0 auto;
}

.login-form-foot{
    margin-top: 20px;
}

.login-form-foot a{
    text-decoration: underline;
    font-size: 13px;
}

.forgot-form-foot{
    margin: 10px 60px;
}

.forgot-form-foot a{
    text-decoration: underline;
    font-size: 12px;
}

.btnLogin{
    background: #ff7600;
    border: none;
    border-radius: 20px;
    padding: 8px 40px;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    margin: 40px -95px 80px;
    position: relative;
    left: 50%;
}

.require{
    font-size: 14px;
    color: red;
}

.txt-login-with{
    text-align: center;
    font-size: 13px;
    margin: 40px 0 10px 0;
}

.btnFacebook{
    font-weight: 600;
    background: #3b5999;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 40px;
    margin: 0 5px;
}

.btnGoogle{
    font-weight: 600;
    background: #f24034;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 20px;
    margin: 0 5px;
}

.btnLinked{
    font-weight: 600;
    background: #007bb6;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 40px;
    margin: 0 5px;
}

.btnMicrosoft{
    font-weight: 600;
    background: #5a9419;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 40px;
    margin: 0 5px;
}

.title-background-forgot{
    /*position: absolute;*/
    text-align: center;
    top: 80px;
}

.title-background-forgot span{
    font-size: 110px;
    font-weight: 600;
    color: #c8c8c8;
    transform: scale(.6, 1);
    display: inline-block;
    font-family: sans-serif;
    text-transform: uppercase;
}

input.chkAgree{
    display: inline-block;
    width: auto;
    transform: scale(1.5);
    /*outline: 1px solid #000000;*/
    margin: 0 10px;

    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    /*-webkit-appearance: none;*/
    border: 1px solid #000000;
    float: none;
    left: 0;
    position: absolute;
    top: 3px;
}

.wrap_agree{
    position: relative;
    padding-left: 30px;
    top: 20px;
}

.groupAgree{
    font-size: 13px;
    width: 600px;
    margin: 0 auto;
}

.avatar-profile{
    text-align: center;
    margin-top: 20px;
}

.avatar-profile p{
    font-size: 14px;
    font-weight: 600;
}

.avatar{
    width: 80px;
    height: 80px;
    background-image: url(../../image/avatar_profile.png);
    background-size: cover;
    display: block;
    border-radius: 50%;
    display: inline-block;
}

.avatar img{
    border-radius: 50%;
}

.headTitle-profile-1{
    font-size: 70px;
    color: #eeeeee;
    font-weight: 800;
    font-family: sans-serif;
}

.headTitle-profile-2{
    font-size: 50px;
    font-family: sans-serif;
    top: 36px;
    position: absolute;
    left: 32px;
}

.headTitle-home-1{
    font-size: 70px;
    color: #eeeeee;
    font-weight: 300;
    font-family: sans-serif;
}

.headTitle-home-2{
    font-size: 50px;
    font-family: sans-serif;
    top: 36px;
    position: absolute;
    left: 20px;
    color: #ff7600;
    font-weight: 300;
}

.main{
    border-radius: 20px 0 0 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 0 2px rgba(0,0,0,.23);
    margin: 10px 0 0 20px;
    background: #ffffff;
    margin-bottom: 40px;
}

.none-padding-right{
    padding-right: 0;
}

.profile-menu-left{
	margin: 5px 0 15px -10px;
    padding: 0;
}

.profile-menu-left li:first-child{
    padding: 18px 0 8px 30px;
}

.profile-menu-left li{
    list-style-type: none;
    padding: 18px 0 8px 30px;
    /*box-shadow: 0 0px 6px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.23);*/
    margin: 0 -15px;
    font-size: 12px;
    font-weight: 600;
    background: url(../../image/menu_background.png) no-repeat center;
    /*width: 200px;*/
    background-position: left;
    background-size: auto 100%;
}

.sub-menu-library li:first-child{
    padding: 10px 0;
}

.social-icon-profile{
    font-size: 15px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0px 6px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.23);
    background: #ffffff;
    margin: 10px 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
}

.group-social-profile{
    margin-left: 40px;
}

.password-change-group label{
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
}

.password-change-group input{
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding: 5px;
}

.btnUpdatePassword{
    display: block;
    margin: 40px 0;
    padding: 10px;
    font-size: 12px;
    border-radius: 20px;
    text-transform: uppercase;
    background: #ff7609;
    border: none;
    color: #ffffff;
    margin-left: 100px;
}

.password-change-group{
    width: 70%;
}

.home {
    position: relative;
    margin-top: -20px;
    margin-left: 40px;
    padding-bottom: 100px;
}

.container-home{
    padding: 0;
}

.profile-menu-left.menu-home li{
    font-weight: 100;
}

.profile-menu-left.menu-home li span{
    font-weight: 400;
}

.profile-menu-left.menu-home a{
    color: unset;
    font-size: 12px;
    padding: 10px;
}

/*====muri====*/

.grid {
  position: relative;
  width: 92%;
  /*background: #ccc;*/
  border: 5px solid transparent;
}
.item {
  position: absolute;
  width: 220px;
  /*height: 100px;*/
  /*line-height: 100px;*/
  margin: 5px;
  z-index: 1;
}
.item > .title{
    margin: 10px 0;
    font-size: 12px;
    position: absolute;
    bottom: 0;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item-content {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: red;
  font-size: 30px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  background-size: cover;
}
.item.muuri-item-dragging .item-content,
.item.muuri-item-releasing .item-content {
  background: blue;
}

.piece_1{
    height: 130px;
}

.piece_1 > .item-content{
    height: 90px;
}

.piece_2{
    height: 220px;
}

.piece_2 > .item-content{
    height: 180px;
}

.piece_3{
    height: 220px;
}

.piece_3 > .item-content{
    height: 180px;
}

.piece_4{
    height: 360px;
}

.piece_4 > .item-content{
    height: 320px;
}

.box-icon-home{
    padding: 15px;
    float: right;
    background: #e6e6e6;
    border-radius: 50%;
}

.box-icon-home img{
    width: 40px;
}

.point-more{
    position: absolute;
    bottom: 45px;
    right: 10px;
    padding: 0 5px 3px 5px;
    background: #000000;
    border-radius: 50%;
    opacity: 0.6;
    color: #ffffff;
}

.avatar-home{
    border-radius: 50%;
}

.name-avatar-home{
    font-weight: 700;
    color: #c0c0c0;
    margin-right: 20px;
    font-size: 12px;
}

.sub-menu-home{
    list-style-type: none;
    padding: 0;
}

.dropdown-menu li{
    text-align: left;
    border-bottom: 1px solid #c0c0c0;
    margin: 10px;
}

.dropdown-menu li:last-child{
    border-bottom: none;
}

.dropdown-menu>li>a{
    padding: 0;
}

.library{
    position: relative;
    padding-bottom: 100px;
}

.container-library{
    padding: 0;
    background: #e8e9e9;
}

.sub-menu-library li{
    background: none;
    margin: 0;
    padding: 10px 0;
    margin: 0 20px;
    border-bottom: 1px solid #e6e6e6;
}

.sub-menu-library li:last-child{
    border-bottom: none;
}

.menu-library li a{
    font-weight: 500;
}

.library-video-icon{
    max-height: 20px;
}

.menu-home.menu-library>li>a{
    padding: 0;
}

.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
}

.pin-icon{
    float: right;
}

.pin-icon i{
    margin: 0 10px;
}

.link-menu{
    color: #ff7700;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: underline;
    margin-top: 10px;
    text-align: right;
}

ul.horizontal-menu-library{
    margin-top: 55px;
    padding-left: 0;
}

ul.horizontal-menu-library > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    display:inline;
    /* this fix is needed for IE7- */
    margin-top: 50px;
    border-right: 2px solid;
    padding: 2px 5px;
    text-transform: uppercase;
}

ul.horizontal-menu-library > li:last-child {
    border-right: none;
}

ul.horizontal-menu-library > li.active a{
    color: #ff7600;
}

ul.horizontal-menu-library > li a{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

.head-menu{
    margin: 20px 10px
}

.head-menu span{
    font-weight: 500;
}

.library-thumb{
    max-width: 100%;
    position: relative;
}

.cdd-icon{
    float: right;
    width: 20px;
}

.thumb-title{
    margin-top: 10px;
}

.thumb-title > .title{
    font-weight: 500;
}

.thumb-author{
    font-size: 10px;
    font-weight: 300;
}

.thumb-price{
    color: red;
}

.group-box{
    margin: 10px 0;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
}

.group-box:last-child{
    border-bottom: none;
}

.group-box-discussion-privee{
    margin: 10px 0;
    padding: 10px 0;
}

.labelType{
    margin-left: 100px;
    font-size: 12px;
}

.labelType span{
    margin-left: 20px;
}

#groupType{
    margin: 10px 0;
    display: inline-block;
    width: 68%;
}

.typeTab{
    margin: 0 100px
}

.typeTab > .nav-tabs>li.active>a{
    border: none
}

.typeTab > .nav-tabs>li>a{
    font-size: 13px;
}

.typeTab > .nav-tabs {
    border-bottom: none;
}

.choose_account_avatar{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
}

.input-table-group{
    margin: 0 120px;
}

.choose_account_name{
    font-size: 14px;
    font-weight: 400;
    margin: 10px;
}

.choose_account_group{
    margin: 10px 0
}

.bg_discussion{
    margin: 0 -48px;
    font-size: 12px;
    background: url(../../image/bg_message.png) no-repeat center;
    background-position: left;
    background-size: auto 80px;
    padding: 12px 18px;
    font-size: 13px;
    font-weight: 500;
}

.bg_message{
    margin: 0 -50px;
    font-size: 12px;
    background: url(../../image/bg_discussion.png) no-repeat center;
    background-position: left;
    background-size: auto 80px;
    padding: 12px 20px;
    font-size: 13px;
    font-weight: 500;
}

.bg-message-active {
    margin: 0 -50px;
    font-size: 12px;
    background: url(../../image/bg_discussion.png) no-repeat center;
    background-position: left;
    background-size: auto 80px;
    padding: 12px 20px;
    font-size: 13px;
    font-weight: 500;
}

.thumb_discussion{
    width: 48px;
    height: 48px;
    border-radius: 10%;
}

.group_thumb_notification{
    margin: 20px 0;
    position: relative;
}

.group_thumb_notification i{
    border: 1px solid;
    border-radius: 50%;
    padding: 5px;
    color: #979797;
    float: right;
    margin: 15px 0;
    height: 25px;
    width: 25px;
    text-align: center;
}

.red-point{
    padding: 8px 8px;
    background: red;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: absolute;
    left: 40px;
    top: -5px;
}

.btn_public{
    background: url(../../image/rounded_public.png) no-repeat center;
    background-size: contain;
    border: none;
    text-transform: uppercase;
    padding: 20px;
    color: #ffffff;
    width: 200px;
    text-align: left;
}

.btn_public i{
    border-radius: 50%;
    border: 1px solid;
    padding: 5px;
    background: #c4c4c4;
}

.btn_private{
    background: url(../../image/rounded_private.png) no-repeat center;
    background-size: contain;
    border: none;
    text-transform: uppercase;
    padding: 20px;
    color: #989898;
    width: 200px;
    text-align: left;
}

.btn_private i{
    border-radius: 50%;
    border: 1px solid;
    padding: 5px;
    background: #c4c4c4;
    height: 24px;
    width: 24px;
    color: #ffffff;
}

.group_btn{
    margin: -5px 0;
}

.group_input_discussion input{
    display: block;
    border-radius: 5px;
    width: 600px;
    padding: 5px;
    margin: 10px 0;
}

.group_input_discussion{
    margin: 20px 0;
}

.group_input_discussion span{
    font-weight: 400;
    font-style: italic;
}

.group_date{
    color: #989898;
}

.group_date > .date{
    margin: 0 10px;
}

.group_btn_search button{
    background: url(../../image/rounded_private.png) no-repeat center;
    background-size: contain;
    border: none;
    text-transform: uppercase;
    padding: 20px;
    color: #989898;
    width: 150px;
    text-align: center;
}

.group_btn_search button.active{
    background: url(../../image/rounded_public.png) no-repeat center;
    background-size: contain;
    border: none;
    text-transform: uppercase;
    padding: 20px;
    color: #ffffff;
    width: 150px;
    text-align: center;
}

.result_search{
    font-size: 25px;
    margin: 10px 0;
}

.label_search{
    color: #ff7609;
}

.group_box_search{
    border: 1px solid #989898;
    border-radius: 5px;
}

.headline_img{
    border-radius: 3px;
    height: 25px;
    width: 25px;
    margin: 5px 0px 5px 0;
}

.tag_search{
    color: #4a7ade;
    margin: 5px 10px;
}

.group_headline_search span{
    font-size: 14px;
    margin: 0 10px;
}

.group_headline_search i{
    color: #979797;
    border: 1px solid;
    border-radius: 50%;
    padding: 5px 3px;
    height: 24px;
    width: 24px;
    text-align: center;
}

.group_headline_search p{
    margin: 10px 0;
    color: #979797;
}

.group_paragraph{
    border-bottom: 1px solid #979797;
    margin: 10px;
}

.group_paragraph:last-child{
    border-bottom: none;
}

.group_radio_seach label{
    margin: 0 10px;
    font-weight: 100;
}

.group_radio_seach input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

.group_radio_seach{
    margin: 10px 0;
}

.date_search{
    display: block;
    margin: 5px 0;
    width: 180px;
}

.group_result_search{
    padding: 15px 0;
}

.input-group-addon{
    background: none;
    border: none;
    position: absolute;
    right: 7px;
    top: 3px;
}

.btn_create_chat{
    background: url(../../image/rounded_public.png) no-repeat center;
    background-size: contain;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #ffffff;
    width: 200px;
    text-align: center;
    margin-top: 10px;
}

.panel_chat img{
    height: 80px;
    width: 80px;
    margin-left: 30px;
}

.panel_chat{
    position: absolute;
    width: 100%;
    background: #ffffff;
    height: 100px;
    z-index: 10;
}

.panel_chat > .panel_name_chat{
    top: 0;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}

.panel_chat > .panel_description_chat{
    margin-left: 15px;
    font-style: italic;
    font-weight: 200;
}

.panel_chat .panel_icon_chat{
    color: #4a7ade;
    position: absolute;
    top: 60px;
    left: 130px;
}

.panel_chat .panel_icon_chat span{
    margin: 0 10px;
}

.group_chat{
    /*overflow-y: scroll;*/
    /*height: 400px;*/
    top: 100px;
    position: relative;
}

.group_chat .name{
    font-weight: 600;
    margin: 0 10px;
}

.group_chat .time{
    color: #979797;
}

.group_chat img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.group_chat .text{
    background: #f4f2f3;
    padding: 20px;
    margin: 0 45px;
    border-radius: 5px;
}

.group_chat .chat_text{
    margin: 15px 0;
}

.owner .text{
    background: #ffffff;
    border: 1px solid #979797;
}

.chat_editor{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.chat_editor input{
    width: 100%;
    position: absolute;
    height: 42px;
    margin-left: 0;
    border: 1px solid #c89776;
    padding-left: 50px;
    padding-right: 80px;
    border-radius: 3px;
}

.chat_editor input:focus {
    outline: none;
}

.chat_editor button:focus,
.chat_editor button:active {
    border: 1px solid #c89776;
}

.chat_editor .add{
    padding: 10px;
    display: block;
    position: absolute;
    border: 1px solid #c99677;
    color: #c89776;
    border-left: 3px solid #c99677;
    border-radius: 3px;
}

.col-register-left{
    border-right: 1px solid;
}

.chat_tool{
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 30px;
    color: #c99774;
}

.chat_tool span{
    top: -2px;
    position: absolute;
    right: 30px;
}

.btn_invite{
    background: url(../../image/rounded_public.png) no-repeat center;
    background-size: contain;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    padding: 30px;
    right: 40px;
    position: absolute;
}

.website_preview{
    background: #f9f0e9;
    border: 1px solid #ff7709;
    border-left: 3px solid #ff7709;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 12px;
}

.website_preview .logo{
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin: 0;
}

.website_preview .title{
    text-transform: uppercase;
    font-weight: 200;
}

.website_preview .description{
    font-weight: 200;
    margin-top: 5px;
}

.link{
    color: #85a5d8;
}

.text{
    font-family: sans-serif;
}

.thumb_list{
    list-style-type: none;
    display: inline-flex;
    padding: 0;
}

.thumb_list img{
    border-radius: unset;
}

.thumb_list li{
    margin: 0 5px;
}

.thumb_list li img{
    height: 50px;
    width: 50px;
}

@media only screen and (max-width: 1338px) {
  .title-background-login span {
    font-size: 110px;
  }
}

@media only screen and (max-width: 1058px) {
  .title-background-login span {
    font-size: 100px;
  }
}

@media only screen and (max-width: 965px) {
  .title-background-login span {
    font-size: 90px;
  }
}

@media only screen and (max-width: 870px) {
  .title-background-login span {
    font-size: 80px;
  }
}

@media only screen and (max-width: 778px) {
  .title-background-login span {
    font-size: 70px;
  }
}

@media only screen and (max-width: 680px) {
  .title-background-login span {
    font-size: 60px;
  }
}

@media only screen and (max-width: 375px) {
    .title-background-login{
        top: 0;
    }
    .title-background-login span {
        font-size: 30px;
    }
    .title-background-small{
        top: 20px;
    }
    .title-background-small span{
        font-size: 20px;
    }
    .login-form{
        top: 40px;
    }
    .register-form{
        top: 40px;
    }
}

#input_container {
    position:relative;
    padding:0 0 0 20px;
    margin:45px -50px 0;
    /*direction: rtl;*/
    width: 90%;
}
#input {
    height: 35px;
    width: 100%;
    background: #e8e9e9;
    border: none;
    padding-left: 35px;
    color: #888
}
#input_img {
    position: absolute;
    bottom: 6px;
    left: 28px;
    color: #949494;
    font-size: 20px;
}
#btnSearch{
    position: absolute;
    right: -75px;
    top: -2px;
    color: #949494;
    /*box-shadow: 1px 1px 1px;*/
    padding: 0;
    width: 75px;
    background: #e8e9e9;
    font-size: 12px;
}

.all {
    margin-left: 10px;
}

.all a {
    color: #ff7600;
    text-decoration: underline;
}

.reporing-clock {
    display: block;
    padding-left: 16px;
}
.money {
    color: #FF0000;
}

.menu-tooltips {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 28px;
    height: 28px;
    background-color: #000000;
    border-radius: 50%;
    text-align: center;
    opacity: 0.5;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
}

.menu-tooltips:after {
    content: "...";
}

.btn-upload {
    margin-top: 23px;
    background-color: #ff7600 !important;
    border: none !important;
}

.container-fluid-head {
    height: 150px;
}

.title-header-hide {
    font-size: 57px;
    font-weight: bold;
    display: block;
    margin-top: 3px;
    position: relative;
    color: #e9e9e9;
}

.title-header-show {
    font-size: 45px;
    position: relative;
    top: -59px;
    left: 13px;
}

.input-left-menu {
    position: relative;
    padding: 0 0 0 20px;
    margin: 15px -50px;
    width: 90%;
}

.row-header-search {
    padding: 12px 0 0 0;
}

.label-header-search {
    padding: 6px 0 0 0;
    font-weight: 400;
}

#input-img-right {
    position: absolute;
    bottom: 7px;
    right: 20px;
    color: #949494;
    font-size: 20px;
}

.btn-chat-header-discussion {
    margin: 11px 0 0 50px;
    background-color: #ff7600 !important;
    border: none !important;
    width: 207px;

}

.header-line {
    margin-top: 37px;
    border-top: 1px solid #c99777;
    top: -13px;
    /*height: 5px;*/
    padding: 10px 0;

}

.text-line{
    text-transform: uppercase;
    color: #ff7609;
    font-size: 20px;
    font-weight: 500;
}

.title-discussion{
    margin: 20px 0 !important;
    font-size: 20px;
}

.title-chat-dicussion {
    font-size: 27px;
}

.distance-title-chat-discussion {
    margin-top: -7px;
}

.distance-content-chat-discussion {
    margin-top: 19px;
}

.distance-bottom-chat-discussion {
    margin-right: 10px;
    color: #3c62d8;
}

.chat-notification {
    position: relative;
    top: -155px;
    right: -124px;
    width: 28px;
    height: 28px;
    background-color: #f90303;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
.number-chat-notification {
    padding: 4px 0 0 0;
    display: block;
}

.group-chat-box {
    margin: 0 0 0 -29px;
    padding: 10px 0;
}

.group-message-box {
    margin: -18px 0 0 -29px;
    padding: 45px 0;
}

.thumb-message {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.thumb-large-message {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.red-point-article{
    padding: 8px 8px;
    background: red;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: absolute;
    left: 34px;
    top: -1px;
}

.red-point-article-message{
    padding: 5px;
    background: red;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    position: absolute;
    left: 44px;
    top: -8px;
    color: #f3f3f4;
    text-align: center;
}

.group-thumb-chat-notification{
    margin: -29px 0 0 14px;
    position: relative;
}

.message-name {
    margin: 5px;
}

.btn-chat-message {
    background-color: #ff7600;
    color: #f3f3f4;
    float: right;
}

.content-chat-message {
    margin-left: -14px;
}

.group-chat-nouvelle-message {
    margin: 20px 0 0 -28px;

}

.name-chat-nouvelle {
    margin-left: 7px;
}

.input-read-chat-nouvelle {
    margin-left: 57px;
    width: 97%;
}

.time-chat-nouvelle {
    padding: 16px 0 0 0;
    text-align: right;
    color: #ff7600;
    font-style: italic;
}

/* register */
.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  display: inline-block;
  overflow: hidden;
  height: 45px;
  position: relative;
  top: 5px;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 120px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #ff7600;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

/* end register */

.discussion-name {
    margin-top: 10px;
}

.profile-menu-left-discussion{
    margin: 15px 0 15px -83px;
    padding: 0;
}

.profile-menu-left-discussion-non-active{
    margin: 15px 0 15px -83px;
    padding: 0;
}

.profile-menu-left-discussion > div{
    padding: 10px 0 10px 45px;
    background: url(../../image/bg_discussion.png) no-repeat center;
}

.profile-menu-left-discussion-non-active > div{
    padding: 10px 0 10px 45px;
    background: url(../../image/bg_message.png) no-repeat center;
}

.profile-menu-left-discussion  a{
    color: #000000;
}

.profile-menu-left-discussion-non-active  a{
    color: #000000;
}

.profile-menu-left-discussion li{
    list-style-type: none;
    border-bottom: none;
    background-position: left;
    background-size: auto 100%;
}

.profile-menu-left-discussion-non-active li{
    list-style-type: none;
    border-bottom: none;
    background-position: left;
    background-size: auto 100%;
}

.sub-menu-library li .active{
    color: #ff7600;
    font-weight: bold;
}

#colMenu2 {
    background: none;
}

.breadcrumb {
    padding: 24px 0 0 17px ;
    background-color: #ffffff !important;
}

.breadcrumb a {
    color: #000000;
}

.breadcrumb>li+li:before {
    content: '\25b6';
    position: relative;
    top: -2px;
    color: #000000;
    font-size: 9px;
    padding: 10px;
}

.text-shadow{
    color: #eeeeee;
    font-size: 40px;
    font-weight: 300;
}

.text-main{
    color: #ff770b;
    font-size: 30px;
    font-weight: 300;
    position: relative;
    top: -40px;
}

.panel_editor label{
    font-weight: 400;
    font-size: 13px;
    margin: 0 20px;
}

.panel_editor input{
    width: 400px;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
    display: inline-block;
}

.panel_editor button{
    background: url(../../image/rounded_public.png) no-repeat center;
    background-size: contain;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    padding: 14px;
    width: 100px;
    margin: 0 10px;
}

.panel_editor .type{
    width: 200px;
    height: 20px;
}

.panel_editor .input_right{
    display: inline-block;
    width: 250px;
}

.panel_editor .panel_group{
    margin: 10px 0;
}

.invalid-feedback{
    font-size: 10px;
    left: 110px;
    position: relative;
    display: block;
}

.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child){
    border-radius: 5px;
}

.label-civ{
    position: relative;
    top: -3px;
}

.label-civ{
    position: relative;
    top: -3px;
}

.label-fil{
    position: relative;
    top: 10px;
}

.label-sta{
    position: relative;
    top: 10px;
    display: inline-block;
}

.panel_editor .place{
    width: 200px;
}

.panel_group .date{
    width: 50px;
    text-align: center;
}

.panel_editor .condition{
    width: 150px;
}

.panel_group #editor, .cke_chrome{
    margin: 10px 0 !important;
}

.rechercher {
    width: 90%;
    margin: auto;
}

.input-1 {
    width: 60%;
    display: inline;
}

.input-2 {
    width: 39%;
    display: inline;
}

.bibliotheque {
    color: #ff770b;
    margin-top: 25px;
    font-weight: bold;
}

.text-label-rechercher {
    margin: 15px 0;
    display: block;
    font-weight: bold;
}

.label-non-bold {
    font-weight: normal;
}

.recher-avancee-line {
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-sub-cat-child-item {
    display: inline-block;
    padding-left: 20px
}
.col-1-overwrite {
    width: 12%;
}

.col-2-overwrite {
    width: 15%;
}

.col-3-overwrite {
    width: 20%;
}

.text-sublabel-rechercher {
    margin: 0 0 15px 0;
    display: block;
}

.text-label-rechercher-parent {
    font-size: 16px
}

.checkbox-category-first label {
    font-weight: 600;
}

.related{
    font-size: 20px;
    font-weight: 300;
}

.related_all{
    color: #ff7600;
    margin: 0 10px;
}

.slider_thumb{
    width: 100px;
}

.slider_text{
    position: absolute;
    margin: 0 10px;
    display: inline-block;
}

.slider_head{
    margin-bottom: 10px;
}

.slider_group{
    margin: 10px 0;
}

.detail-title-lage{
    font-size: 40px;
    font-weight: 500;
    color: #9a9a9a;
    opacity: 0.4;
    display: block;
}

.detail-title-small{
    font-size: 30px;
    font-weight: 300;
    color: #000000;
    display: block;
    top: -35px;
    left: 5px;
    position: relative;
}
.detail-icon{
    position: absolute;
    left: 120px;
    top: 35px;
    width: 20px;
}
.detail-date .view, .detail-date .like{
    color: red;
}

.detail-date{
    color: #9a9a9a;
    display: inline-block;
}
.btn_group{
    display: inline-block;
    right: 0;
    position: absolute;
    top: 40px;
}
.btn_group button{
    background-size: contain;
    width: 30px;
    height: 30px;
    text-transform: uppercase;
    color: #000000;
    padding: 0;
    font-size: 12px;
    border: 1px solid;
    border-radius: 50%;
    margin: 0 5px;
}
.btn_group .like i, .btn_group .more i{
    margin: 0 5px;
}
.btn_group .line{
    margin: 10px 0
}
.detail-description{
    color: #9a9a9a;
    border-bottom: 1px solid;
    padding-bottom: 30px;
}

.detail-comment{
    height: 500px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.detail-comment-title{
    font-weight: 200;
}

.detail-comment-line{
    margin: 20px 0
}

.detail-comment-line img{
    width: 40px;
}

.detail-comment-line .name{
    margin: 0 5px;
}

.detail-comment-line i{
    color: #ff7700;
}

.detail-comment-text{
    margin: -5px 50px;
    color: #9a9a9a;
    border-bottom: 1px solid #c99776;
    padding-bottom: 40px;
}

.detail-comment-line:last-child .detail-comment-text {
    border-bottom: none;
}

.editor-comment input{
    width: 100%;
    border: 1px solid #c89776;
    margin: 10px 0;
    padding: 10px;
    position: relative;
}

.editor-comment{
    position: relative;
}

.editor-comment .smile{
    position: absolute;
    top: 15px;
    right: 50px;
    font-size: 33px;
    color: #979797;
}

.editor-comment .send{
    position: absolute;
    top: 19px;
    right: 10px;
    font-size: 25px;
    color: #979797;
}

.wrapChat {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 600px;
  position: relative;
}

.wrapChat .headerChat,
.wrapChat .footerChat {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  background: #ffffff;
  width: 100%
}

.wrapChat .bodyChat{
  position: absolute;
  top: 60px;
  bottom: 60px;
  overflow: auto;
  padding: 15px 0;
  margin-bottom: 20px;
}

.wrapChat .footerChat {
  bottom: 0;
  top: auto;
}

.inviter-chat{
    padding: 5px;
    width: 90%;
    margin-bottom: 10px;
}

.sendIcon-chat{
    border: 1px solid;
    padding: 9px;
    color: #979797;
    right: 29px;
    top: 54px;
    position: absolute;
}

.thumb-inviter img{
    width: 40px;
    border-radius: 50%;
    margin: 10px;
}

.thumb-inviter span{
    font-weight: bold;
}

.member-number-chat{
    color: #4a7ade;
}

.more-member-chat{
    color: #4a7ade;
    text-decoration: underline;
}

.group-chat-document{
    display: inline-block;
    top: 8px;
    position: relative;
    font-size: 10px;
}

.group-chat-document span{
    display: block;
}

.group-document-image{
    width: 30px;
    border-radius: 50%;
}

.group-chat-document .name{
    font-weight: 600;
}

.group-chat-document .date{
    font-style: italic;
}

.group-document-title{
    font-size: 12px;
}

.group-document{
    box-shadow: 2px 2px 10px 2px #979797;
    padding: 5px 0px 5px 25px;
    left: 10px;
    position: relative;
    margin: 0 10px;
}

.wrap-document-copy{
    padding: 10px 12px;
    background: #7ec2d9;
    border-radius: 50%;
    text-align: center;
    width: 45px;
    height: 45px;
    vertical-align: middle;
    position: relative;
    top: -55px;
    display: table;
    left: -10px;
}

.wrap-document-copy img{
    width: 100%;
    background: #7ec2d9;
}

.invite-recent{
    display: block;
}

.lslide img{
    width: 100%;
    height: 100%;
}

.item-slider {
    margin: 8px 0;
}

.breadcrumb-detail{
    margin: 10px 0;
}

.breadcrumb>li+li:before{
    content: "\25b6";
    color: #000000;
}

.breadcrumb-item a{
    color: #000000;
}

.breadcrumb{
    background-color: unset;
}

.accordion-toggle-sub:after {
    /*font-family: 'Glyphicons Halflings';*/
    content: "\002D";
    float: right;
    color: grey;
    font-size: 15px;
}
.accordion-toggle-sub.collapsed:after {
    content: "\002b";
}

.profile-menu-left.menu-home .sub-menu-library a{
    padding: 0;
}

.dropdown.show{
    display: inline-block !important;
}

.title-header-show.home{
    color: #ff7600;
    left: -33px;
    top: -55px;
}

.btnAdSearch{
    border: 1px solid #cccccc;
    background: #e9e9e9;
    padding: 1px;
    border-radius: 0 5px 5px 0;
    position: absolute;
    width: 90px;
    font-size: 10px;
}

.inputAdSearch{
    width: 80%;
    display: inline-block;
    border-radius: 5px 0 0 5px;
}

.bg_home_menu {
    margin: 0px -20px;
    background: url(../../image/box-w-shadow.png) no-repeat center;
    background-size: auto 80px;
    padding: 20px 30px;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    left: -30px;
}

.bg_home_menu a {color: #333}

.carousel.slide{
    position: relative;
    height: auto;
    float: right;
    width: 100%;
}

.bg_home_menu i{
    margin: 0 10px;
}

.home-slider .item{
    /*position:relative;*/
    margin: 0;
    width: 100%;
    z-index: 0;
}

.home-slider .item img{
    display: inline-block;
}

.home-slider .item .content{
    display: inline-block;
    top: 0;
    position: absolute;
    width: 100%;
    right: 0;
    padding-left: 110px;
}

.home-slider .item .content .title{
    font-weight: bold;
}

.home-slider .item .content .title a {
    color: #333;
}

.home-slider .item .content .description{
    position: absolute;
    padding-right: 45px;
}

.divIcon{
    background: #ff7600;
    height: 100px;
    width: 100px;
    left: 0;
    display: inline-block;
    border-radius: 5px 0 0 5px;
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.divIcon > a {
    padding-top: 20px;
    display: block;
    color: #fff
}

.home-slider .item .image{
    position:relative;
    float: left;
    z-index: 1;
}

.divIcon a{
    color: #ffffff;
}

.home-slider .item .image img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.homeCarousel .carousel-control{
    background: unset;
    top: 50%;
}

.wrapSlider{
    margin: 10px 0;
    position: relative;
    padding-left:110px
}

.divIcon span{
    display: block;
    font-size: 12px;
}

.divIcon i{
    font-size: 40px;
}

.home-space{
    color: #ff7600;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    width: 10%;
}

.bottom-line{
    border-bottom: 1px solid;
    color: #ff7600;
    width: 90%;
    display: inline-block;
}

.wrap-space{
    margin-top: 50px;
}

.no-padding{
    padding: 0;
}

.image-space{
    width: 100%;
    height: auto;
    margin: 10px auto;
}

.title-space{
    font-weight: bold;
    font-size: 10px;
}

.title-space span{
    font-weight: 300;
    font-style: italic;
}

.name-space{
    display: block;
}

.date-space{
    display: block;
}

.dot-space {
    padding: 2% 4%;
    background: #000000;
    color: #ffffff;
    font-weight: bold;
    border-radius: 50%;
    opacity: 0.5;
    position: absolute;
    bottom: 15px;
    right: 10px;
}

.wrap-image-space{
    position: relative;
}

.registerAvatar{
    position: absolute;
    top: -160px;
    left: 160px;
    border: 2px solid #b9babb;
    padding: 20px 10px 0;
}

.registerAvatar img{
    width: 100px;
}

.registerAvatar input{
    display: none;
}

.group-box .wrap{
    width: 100%;
    position: relative;
}

/* slider range time */
.flat-slider {
    width: 20em;
    padding: 0;
    position: relative;
}

.flat-slider .ui-corner-all { border-radius: 0px; }

.flat-slider .ui-widget-content a { color: #222222; }

.flat-slider .ui-widget-content {
    color: #222222;
    background-color: #999;
    background-image: none;
    border-width: 0;
}

.flat-slider .ui-widget-header {
    background-color: white;
    border-color: white;
    background-image: none;
}

.flat-slider .ui-state-hover,
.flat-slider .ui-widget-content .ui-state-hover,
.flat-slider .ui-widget-header .ui-state-hover,
.flat-slider .ui-state-focus,
.flat-slider .ui-widget-content .ui-state-focus,
.flat-slider .ui-widget-header .ui-state-focus { background-image: none; }

.flat-slider .ui-slider {
    position: relative;
    text-align: left;
}

.flat-slider .ui-slider-horizontal { height: 0.4rem; }

.flat-slider .ui-slider-handle {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    background-image: none;
    border-color: #fff;
    border-radius: 20px;
    height: 1rem;
    top: -0.3rem;
    width: 1rem;
}

.flat-slider .min,
.flat-slider .max,
.flat-slider .min_value,
.flat-slider .max_value,
.flat-slider .value {
    margin-top: 0.3em;
    font-size: 0.8rem;
    white-space: nowrap;
    -webkit-transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.flat-slider .min,
.flat-slider .max {
    font-size: 0.7rem;
    color: #c4c4c4;
}

.flat-slider .min { float: left; }

.flat-slider .max { float: right; }

.flat-slider .min_value,
.flat-slider .max_value,
.flat-slider .value { position: absolute; }

.flat-slider::after { clear: both; }
/* slider range time */
.wrap .content-panel{
    position: absolute;
    bottom: -140px;
    right: -85px;
    background: #ffffff;
    width: 185px;
    box-shadow: 0px 1px 20px;
    z-index: 1;
    display: none;
    font-size: 12px;
}

.content-line{
    margin: 5px 0;
    padding: 2px 15px;
}

.content-line span{
    margin-left: 15px;
}

.content-line i{
    text-align: left;
    font-size: 14px;
    width: 20px;
}

.content-line:hover{
    background: #f77d3a;
    color: #ffffff;
}

.float-right {
    float: right;

.pull-right{
    float: right;
}

.listWrap input{
    position: absolute;
    bottom: 10px;
}

.listWrap label{
    margin-left: 30px;
    bottom: 0px;
}

.title a{
    color: #000000;
}